 Body {
     background-color: rgb(125, 247, 206);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    text-align: justify;
    }
 header {
     background-image: linear-gradient(to top, rgb(49, 90, 65), rgb(17, 255, 108));
     color: white;
     
     padding: 10px;
     margin: 0px;
    font-family: Arial, Helvetica, sans-serif
 }
 header > h1 {
     text-align: center;
 }
 header > p {
     text-align: center;
 }
 nav > a {
     text-decoration: none;
     color: white;
     text-align: left;
     font-weight: bold;
     padding-right: 10px;
 }
 nav > a:hover {
     text-decoration: underline;
 }
 section {
     background-color: white;
    margin: 0px 30px 0px 30px;
    padding: 5px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.5)
    
 }
 h3 {
     color: rgb(7, 92, 40)
 }
h2 {
    color: rgb(7, 92, 40);
}
div {
    background-color: rgba(133, 247, 209, 0.644);
    border-radius: 10px;
    margin: 0px 10px 0px 10px;
}
div > h3 {
    color: white;
    background-color: rgb(4, 97, 43);
    border-radius: 5px;
    padding-right: 10px;
    
}
footer{
    background-color: rgb(4, 97, 43);
    color: white;
    text-align: center;
    margin: 0px;
    padding-top: 30px 0px 0px 0px;
    
    
}
.foda {
    font-weight: bold;
}

 